metadata:
  #  Must match the 'spring.application.name' property of the application
  name: ${project.artifactId}
data:
  application.properties: |
    # spring application properties file
    rabbitmq.host: myrabbitmq-rabbitmq
    rabbitmq.port: 5672
    rabbitmq.user: myuser
    rabbitmq.password: myuser
    mongodb.host: mymongodb-mongodb
    mongodb.port: 27017